body {
  font-family: 'Open Sans', sans-serif;
}

section {
  @media screen and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  padding-top: 84px;
  padding-bottom: 84px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
