<div class="backdrop" data-menu>
  <div class="mobal-menu">
    <nav>
      <ul class="list">
        <li class="mobal_item">
          <a href="#about" class="mobal_link">О нас</a>
        </li>
        <li class="mobal_item">
          <a href="#price" class="mobal_link">Услуги и цены</a>
        </li>
        <li class="mobal_item">
          <a href="#team" class="mobal_link">Мастера</a>
        </li>
        <li class="mobal_item">
          <a href="#contact" class="mobal_link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="contact-conteiner">
      <a href="tel:+380441111111" class="tel">+38 044 111 1 1 11</a>
      <button type="button" class="btn btn--light">Онлайн запись</button>
    </div>
    <div>
      <ul class="list">
        <li class="mobal_item">
          <a href="" class="mobal_soc mobal_soc--before">Instagram</a>
        </li>
        <li class="mobal_item">
          <a href="" class="mobal_soc mobal_soc--margin">Youtube</a>
        </li>
      </ul>
    </div>
  </div>
</div>
