<section class="contact">
  <div class="container contact">
    <a href="#" class="contact_logo"
      >Barber<span class="contact_logo--span">Shop</span>
    </a>
    <div>
      <a href="tel:+380961111111" class="tel_footer">+38 096 111 11 11</a>
    </div>
    <div>
      <ul class="soc-list list">
        <li class="soc-item">
          <a href="#" class="soc-link">
            <svg class="footer-social-logo" width="20" height="20">
              <use href="./images/svg-header/soc-contact.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="https://wa.me/380960043344" class="soc-link">
            <svg class="footer-social-logo" width="20" height="20">
              <use href="./images/svg-header/soc-contact.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="https://telegram.me/Npolozov" class="soc-link">
            <svg class="footer-social-logo" width="20" height="20">
              <use href="./images/svg-header/soc-contact.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="viber://chat?number=%2B380960043344" class="soc-link">
            <svg class="footer-social-logo" width="20" height="20">
              <use href="./images/svg-header/viber.svg#icon-viber"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
