<section class="gallery">
  <div class="conteiner">
    <p class="top-text gallery">На латинском языке “барба” означает “борода”</p>
    <ul class="gallery_list list">
      <li class="gallery_item">
        <a href="./images/gallery/1tab@2x.jpg">
          <picture>
            <source
              srcset="
                ./images/gallery/1comp.jpg    1x,
                ./images/gallery/1comp@2x.jpg 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./images/gallery/1tab.jpg    1x,
                ./images/gallery/1tab@2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/1mob.jpg    1x,
                ./images/gallery/1mob@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)" />
            <img src="./images/gallery/1tab.jpg" alt="карточка1"
          /></picture>
        </a>
      </li>
      <li class="gallery_item">
        <a href="./images/gallery/2tab@2x.jpg">
          <picture>
            <source
              srcset="
                ./images/gallery/2comp.jpg    1x,
                ./images/gallery/2comp@2x.jpg 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./images/gallery/2tab.jpg    1x,
                ./images/gallery/2tab@2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/2mob.jpg    1x,
                ./images/gallery/2mob@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)" />
            <img src="./images/gallery/2tab.jpg" alt="карточка2"
          /></picture>
        </a>
      </li>
      <li class="gallery_item">
        <a href="./images/gallery/3tab@2x.jpg">
          <picture>
            <source
              srcset="
                ./images/gallery/3comp.jpg    1x,
                ./images/gallery/3comp@2x.jpg 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./images/gallery/3tab.jpg    1x,
                ./images/gallery/3tab@2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/3mob.jpg    1x,
                ./images/gallery/3mob@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)" />
            <img src="./images/gallery/3tab.jpg" alt="карточка3"
          /></picture>
        </a>
      </li>
      <li class="gallery_item">
        <a href="./images/gallery/4tab@2x.jpg">
          <picture>
            <source
              srcset="
                ./images/gallery/4comp.jpg    1x,
                ./images/gallery/4comp@2x.jpg 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                ./images/gallery/4tab.jpg    1x,
                ./images/gallery/4tab@2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/4mob.jpg    1x,
                ./images/gallery/4mob@2x.jpg 2x
              "
              width="100%"
              media="(max-width: 767px)" />
            <img src="./images/gallery/4tab.jpg" alt="карточка4"
          /></picture>
        </a>
      </li>
    </ul>
  </div>
</section>
