<header class="header">
  <div class="conteiner">
    <a href="./index.html" class="logo-link link">
      <svg class="header-logo" width="70" height="60">
        <use href="./images/svg-header/symbol-defs.svg#icon-Logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a
            class="link navigation__link navigation__link--current"
            href="#about"
            >О нас</a
          >
        </li>
        <li class="navigation__item">
          <a class="link navigation__link" href="#price">Услуги и цены</a>
        </li>
        <li class="navigation__item">
          <a class="link navigation__link" href="#team">Мастера</a>
        </li>
        <li class="navigation__item">
          <a class="link navigation__link" href="#contact">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="header_group">
      <button
        class="btn btn--mode-dark header__btn"
        data-path="first"
        type="button"
        data-modal-open
      >
        онлайн-запись
      </button>
    </div>
    <div class="header_burger">
      <span></span>
    </div>
  </div>
</header>
