<section class="hero">
    <div class="conteiner">
      <div class="tel-conteiner">
        <a class="link header__phone" href="tel:380441111111"
          >+38 044 111 11 11</a
        >
      </div>
      <div class="hero-social">
        <ul class="hero__list list">
          <li class="social-links-item">
            <a
              class="social-links-item-link mobal_soc--before link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram</a
            >
          </li>
          <li class="social-links-item">
            <a
              class="social-links-item-link link"
              href="htts://www.youtube.com"
              target="_blank"
              rel="noopener noreferrer"
              >Youtube</a
            >
          </li>
        </ul>
      </div>
      <div class="hero-content">
        <p class="top-text" lang="en">A hair salon for men in Kyiv</p>
        <h1 class="title">BarberShop</h1>
        <p class="bottom-text">
          Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно
          и со вкусом.
        </p>
      </div>
    </div>
  </section>