<section class="masters" id="team">
  <div class="conteiner">
    <p class="top-text masters">для настоящих ценителей атмосферы</p>
    <h2 class="title masters">Наши мастера</h2>
    <ul class="list_masters list">
      <li
        class="item_masters"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <picture>
          <source
            srcset="
              ./images/masters/master1comp.jpg    1x,
              ./images/masters/master1comp@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/masters/master1tab.jpg    1x,
              ./images/masters/master1tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/masters/master1mob.jpg    1x,
              ./images/masters/master1mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/masters/master1tab.jpg" alt="карточка2" />
        </picture>
        <div class="magazine_conteiner">
          <h2 class="masters_title">John Smith</h2>
          <p class="masters_skils">Extreme Barber</p>
          <ul class="soc-list list">
            <li class="soc-item">
              <a href="#" class="soc-link master">
                <svg class="footer-social-logo" width="20" height="20">
                  <use
                    href="./images/svg-header/soc-contact.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="soc-item">
              <a href="https://wa.me/380960043344" class="soc-link master">
                <svg class="footer-social-logo" width="20" height="20">
                  <use
                    href="./images/svg-header/soc-contact.svg#icon-whatsapp"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="soc-item">
              <a href="https://telegram.me/Npolozov" class="soc-link master">
                <svg class="footer-social-logo" width="20" height="20">
                  <use
                    href="./images/svg-header/soc-contact.svg#icon-telegram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="soc-item">
              <a
                href="viber://chat?number=%2B380960043344"
                class="soc-link master"
              >
                <svg class="footer-social-logo" width="20" height="20">
                  <use href="./images/svg-header/viber.svg#icon-viber"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li
        class="item_masters"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <picture>
          <source
            srcset="
              ./images/masters/master2comp.jpg    1x,
              ./images/masters/master2comp@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/masters/master2tab.jpg    1x,
              ./images/masters/master2tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/masters/master2mob.jpg    1x,
              ./images/masters/master2mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/masters/master2tab.jpg" alt="карточка2" />
        </picture>
        <div class="magazine_conteiner">
          <h2 class="masters_title">Michele Doe</h2>
          <p class="masters_skils">Extreme Barber</p>
          <ul class="soc-list list">
            <li class="soc-item">
              <a href="#" class="soc-link master">
                <svg class="footer-social-logo" width="20" height="20">
                  <use
                    href="./images/svg-header/soc-contact.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="soc-item">
              <a href="https://wa.me/380960043344" class="soc-link master">
                <svg class="footer-social-logo" width="20" height="20">
                  <use
                    href="./images/svg-header/soc-contact.svg#icon-whatsapp"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="soc-item">
              <a href="https://telegram.me/Npolozov" class="soc-link master">
                <svg class="footer-social-logo" width="20" height="20">
                  <use
                    href="./images/svg-header/soc-contact.svg#icon-telegram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="soc-item">
              <a
                href="viber://chat?number=%2B380960043344"
                class="soc-link master"
              >
                <svg class="footer-social-logo" width="20" height="20">
                  <use href="./images/svg-header/viber.svg#icon-viber"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li
        class="item_masters"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <picture>
          <source
            srcset="
              ./images/masters/master3comp.jpg    1x,
              ./images/masters/master3comp@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/masters/master3tab.jpg    1x,
              ./images/masters/master2tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/masters/master3mob.jpg    1x,
              ./images/masters/master3mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/masters/master3tab.jpg" alt="карточка2" />
        </picture>
        <div class="magazine_conteiner">
          <h2 class="masters_title">Alan Black</h2>
          <p class="masters_skils">Extreme Barber</p>
          <ul class="soc-list list">
            <li class="soc-item">
              <a href="#" class="soc-link master">
                <svg class="footer-social-logo" width="20" height="20">
                  <use
                    href="./images/svg-header/soc-contact.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="soc-item">
              <a href="https://wa.me/380960043344" class="soc-link master">
                <svg class="footer-social-logo" width="20" height="20">
                  <use
                    href="./images/svg-header/soc-contact.svg#icon-whatsapp"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="soc-item">
              <a href="https://telegram.me/Npolozov" class="soc-link master">
                <svg class="footer-social-logo" width="20" height="20">
                  <use
                    href="./images/svg-header/soc-contact.svg#icon-telegram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="soc-item">
              <a
                href="viber://chat?number=%2B380960043344"
                class="soc-link master"
              >
                <svg class="footer-social-logo" width="20" height="20">
                  <use href="./images/svg-header/viber.svg#icon-viber"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
