<div class="modal">
  <div class="modal__container" data-target="first">
    <div class="modal-content">
      <form action="" autocomplete="off">
        <h2 class="title_modal">Онлайн-запись</h2>
        <div class="input_container">
          <input class="input_modal" type="text" placeholder="name" />
        </div>
        <div class="input_container">
          <input class="input_modal" type="email" placeholder="mail" />
        </div>
        <div class="input_container">
          <input class="input_modal" type="number" placeholder="" />
        </div>
        <div class="radio_container">
          <label>
            <input
              class="radio"
              type="radio"
              name="color"
              value="black"
              checked
            />
            black
          </label>
          <label>
            <input class="radio" type="radio" name="color" value="aqua" />
            aqua
          </label>
          <label>
            <input class="radio" type="radio" name="color" value="blue" />
            blue
          </label>
          <button class="radio_btn" type="submit">change</button>
        </div>
        <div class="input_container">
          <textarea
            class="input_modal textarea_modal"
            name="feedback"
            rows="5"
            placeholder="Type your message here..."
          ></textarea>
        </div>
        <button class="btn modal_btn" type="submit">отправить</button>
      </form>
    </div>
  </div>
  <!-- <div class="modal__container" data-target="second">
    <button class="modal-close">Закрыть</button>
  </div> -->
</div>
