<div class="modal">
  <div class="modal__container" data-target="first">
    <button class="modal-close">X</button>
    <div class="modal-content">
      <form action="" autocomplete="off">
        <div class="input_container">
          <input class="input_modal" type="text" placeholder="name" />
        </div>
        <div class="input_container">
          <input class="input_modal" type="email" placeholder="mail" />
        </div>
        <div class="input_container">
          <input class="input_modal" type="number" placeholder="" />
        </div>
        <div class="radio_container">
          <label>
            <input type="radio" name="color" value="red" checked />
            Red
          </label>
          <label>
            <input type="radio" name="color" value="white" />
            White
          </label>
          <label>
            <input type="radio" name="color" value="green" />
            Green
          </label>
        </div>
        <div class="input_container">
          <textarea
            class="input_modal textarea_modal"
            name="feedback"
            rows="5"
            placeholder="Type your message here..."
          ></textarea>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="modal__container" data-target="second">
    <button class="modal-close">Закрыть</button>
  </div> -->
</div>
