<div class="backdrop" data-menu>
    <div class="mobal-menu">
      <button type="button" class="close-modal-btn js-scroll-on" data-menu-button>
        <svg width="40" height="40" class="mobal-svg">
          <use href="./images/svg-header/symbol-defs.svg#icon-close_40px"></use>
        </svg>
      </button>
      <nav>
        <ul class="list">
          <li class="mobal_item">
            <a href="" class="mobal_link">О нас</a>
          </li>
          <li class="mobal_item">
            <a href="" class="mobal_link">Услуги и цены</a>
          </li>
          <li class="mobal_item">
            <a href="" class="mobal_link">Мастера</a>
          </li>
          <li class="mobal_item">
            <a href="" class="mobal_link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="contact-conteiner">
        <a href="tel:+380441111111" class="tel">+38 044 111 1 1 11</a>
        <button type="button" class="btn btn--light">Онлайн запись</button>
      </div>
      <div>
        <ul class="list">
          <li class="mobal_item">
            <a href="" class="mobal_soc mobal_soc--before">Instagram</a>
          </li>
          <li class="mobal_item">
            <a href="" class="mobal_soc mobal_soc--margin">Youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>