<div class="modal is-hidden">
  <div class="modal__container" data-target="form-popup">
    <div class="modal-content">
      <form action="" autocomplete="off">
        <h2 class="title_modal">Онлайн-запись</h2>
        <div class="input_container">
          <label for="" class="label">Имя</label>
          <input class="input_modal" type="text" />
          <span class="alert alert--warning"
            >Имя должно состоять минимум из 3 символов</span
          >
          <span class="material-symbols-outlined input_icon"> person </span>
        </div>
        <div class="input_container">
          <label for="" class="label">Почта</label>
          <input class="input_modal" type="email" />
          <span class="alert alert--warning">
            Введите почту в формате example@mail.com</span
          >

          <span class="material-symbols-outlined input_icon"> mail </span>
        </div>
        <div class="input_container">
          <label for="" class="label">Телефон</label>
          <input class="input_modal" type="number" />
          <span class="alert alert--warning"
            >Введите номер телефона в формате +38 099 123 45 67</span
          >
          <span class="material-symbols-outlined input_icon"> call </span>
        </div>
        <div class="radio_container">
          <label>
            <input
              class="radio"
              type="radio"
              name="color"
              value="black"
              checked
            />
            black
          </label>
          <label>
            <input class="radio" type="radio" name="color" value="aqua" />
            aqua
          </label>
          <label>
            <input class="radio" type="radio" name="color" value="blue" />
            blue
          </label>
          <button class="radio_btn" type="submit">change</button>
        </div>
        <div class="input_container">
          <textarea
            class="input_modal textarea_modal"
            name="feedback"
            rows="5"
            placeholder="Type your message here..."
          ></textarea>
        </div>
        <button class="btn modal_btn" type="submit">отправить</button>
      </form>
    </div>
  </div>
  <div class="modal__container" data-target="me-popup">
    <div class="modal-content">
      <form action="" autocomplete="off">
        <h2 class="title_modal">Онлайн-запись</h2>
        <div class="input_container">
          <input class="input_modal" type="text" placeholder="name" />
        </div>
        <div class="input_container">
          <input class="input_modal" type="email" placeholder="mail" />
        </div>
        <div class="input_container">
          <textarea
            class="input_modal textarea_modal"
            name="feedback"
            rows="5"
            placeholder="Type your message here..."
          ></textarea>
        </div>
        <button class="btn modal_btn" type="submit">отправить</button>
      </form>
    </div>
  </div>
</div>
