<section class="price">
    <div class="conteiner">
      <p class="top-text price">Проведи время в компании лучших мастеров</p>
      <h2 class="title price">Услуги и цены</h2>
      <ul class="conteiner-price list">
        <li  class="conteiner-price-list-one">
          <ul class="price-list-one list">
          <li class="item-prise-one"><span class="price-text-paragraf">Мужская стрижка</span>
            <span class="price-text">от 300 грн.</span></li>
          <li class="item-prise-one"><span class="price-text-paragraf">Стрижка бороды</span>
            <span class="price-text">от 200 грн.</span></li>
          <li class="item-prise-one"><span class="price-text-paragraf">Стрижка усов</span>
            <span class="price-text">от 200 грн.</span></li>
          <li class="item-prise-one"><span class="price-text-paragraf">Бритье опасной бритвой</span>
            <span class="price-text">от 200 грн.</span></li>
        </ul></li>
        <li class="conteiner-price-list-two">                    
          <ul class="price-list-two list">
          <li class="item-prise-two"><span class="price-text-paragraf">Cтрижка у стажера</span>
            <span class="price-text">от 50 грн.</span></li>
          <li class="item-prise-two"><span class="price-text-paragraf">Детская стрижка (до 12 лет)</span>
            <span class="price-text">от 200 грн.</span></li>
          <li class="item-prise-two"><span class="price-text-paragraf">Стрижка под насадку</span>
            <span class="price-text">от 300 грн.</span></li>
          <li class="item-prise-two"><span class="price-text-paragraf">Камуфлирование седины</span>
            <span class="price-text">от 200 грн.</span></li>
        </ul></li>
      </ul>
    </div>
  </section>