<section>
    <div class="conteiner school">
      <div>        <p class="top-text school">старая традиционная школа</p>
        <h2 class="title school">Почему приходят именно к нам?</h2>
        <p class="bottom-text-school">О нас говорят только хорошее. Но лучше 
          1 раз увидеть и прочувствовать, чем 10 раз прочитать. </p></div>
        <ul  class="school-list list">
          <li class="school-item one">
            <span class="school-number">600</span>
            <span class="school-text">Довольных клиентов в день</span>
          </li>
          <li class="school-item">
            <span class="school-number">50</span>
            <span class="school-text">Наград за отличный сервис </span>
          </li>
            <li class="school-item">
            <span class="school-number">20</span>
            <span class="school-text">Лучших мастеров Киева </span>
          </li>
          <li class="school-item">
            <span class="school-number">100</span>
            <span class="school-text">Подарков постоянным клиентам</span>
          </li>
        </ul>
    </div>
  </section>