.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    width: 100%;
  }
  @include tablet {
    width: 720px;
  }
  @include desktop {
    width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
  }
}


