.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  opacity: 1;
  transform: scale(1);
  transition: transform 250ms linear, opacity 250ms linear;
}

.is-hidden {
  opacity: 0;
  transform: scale(0);
}

.modal__container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
  cursor: default;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.disable-scroll {
  overflow: hidden;
  // height: 100vh;
  // left: 0;
  // top: 0;
  // width: 100%;
}

.modal--visible {
  display: block;
}
