.input_modal {
  width: 100%;
  color: currentColor;
  margin-bottom: 20px;
  padding: 10px 10px;
  background-color: transparent;
  border-radius: 10px;
  border-color: black;
  outline: none;
  transition: var(--animation);

  &:hover,
  &:focus {
    border-color: var(--orange-color);
  }

  &::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
  }
}

// .modal-close {
//   width: 20px;
//   height: 20px;
//   border: none;
//   background-color: transparent;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-left: auto;
//   margin-bottom: 10px;
//   transition: var(--animation);

//   &:hover,
//   &:focus {
//     color: var(--orange-color);
//   }
// }

.textarea_modal {
  outline: none;
  resize: none;
  height: 100px;
  transition: border-color var(--animation);
  margin-top: 20px;
}

.title_modal {
  color: black;
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  text-align: center;
}

.radio_container {
  display: flex;
  align-items: center;
}

.radio {
  margin-left: 10px;
}
